body {
    font-family: monospace;
}

h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    border: 2px solid black;
    text-align: center;
    padding: 5px 11px 5px 11px;
    font-size: 0.9rem !important;
    margin: 0;
}


#loader {
    min-height: 100vh;

    h1 {
        color: white;
        border: none;
        text-transform: none;
        font-size: 1.5rem !important;
        -webkit-animation: fadeOut 1.9s forwards;
        animation: fadeOut 1.9s forwards;

        @-webkit-keyframes fadeOut {
            0% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        @keyframes fadeOut {
            0% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }
    }
}

.navbar {
    transition: top 0.3s;
    top: -100px;
    -webkit-animation: apparition 1s ease-in-out forwards;
    animation: apparition 1s ease-in-out forwards;
}

@-webkit-keyframes apparition {
    100% {
        top: 0;
    }
}

@keyframes apparition {
    100% {
        top: 0;
    }
}

.nav-item {
    font-family: 'Figtree', sans-serif;
    color: black;
    position: relative;
    padding: 0 !important;
    margin: 0.5rem;
}

.nav-item:hover {
    color: black;
}

.nav-item::after {
    position: absolute;
    content: "";
    background: black;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    transition: 0.4s ease-out;

}

.nav-item:hover::after {
    left: 0;
    width: 100%;
}

.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}


.toggler-icon {
    width: 30px;
    height: 3px;
    background-color: black;
    display: block;
    transition: all 0.2s;
}


.middle-bar {
    margin: 5px auto;
}


.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}


.navbar-toggler.collapsed .toggler-icon {
    background-color: black;
}

.typing-demo {
    width: 30ch;
    font-size: 4vw !important;
    -webkit-animation: typing 2s steps(30), blink .5s step-end infinite alternate;
    animation: typing 2s steps(30), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid orange;
}

@-webkit-keyframes typing {
    from {
        width: 0
    }
}

@keyframes typing {
    from {
        width: 0
    }
}

@-webkit-keyframes blink {
    50% {
        border-color: transparent
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.wrapper {
    z-index: -1;
    min-height: 100vh;
}

#projets {
    min-height: 100vh;

    h2 {
        padding: 0 10px 30px 10px;
        border-left: 1px solid white;
        border-right: 1px solid white;
        position: relative;
    }

    h2::after {
        position: absolute;
        content: "";
        background: white;
        bottom: 25px;
        left: -25%;
        width: 150%;
        height: 1px;
    }

    a {
        text-decoration: none;
        color: black;
        font-family: 'Figtree', sans-serif;
        padding: 10px 20px;
        border: 2px solid transparent;


        &:hover {
            background-color: transparent !important;
            color: white;
            border: 2px solid orange;


        }
    }

    h3 {
        font-size: 1.2rem;
    }
}



.box img {
    width: 60%;
    height: 30%;
    -o-object-fit: cover;
    object-fit: cover;
}


#a-propos {
    margin-top: 100vh;

    h2 {
        padding: 0 10px 30px 10px;
        border-left: 1px solid black;
        border-right: 1px solid black;
        position: relative;
        display: inline-flex;
    }

    h2::after {
        position: absolute;
        content: "";
        background: black;
        bottom: 25px;
        left: -25%;
        width: 150%;
        height: 1px;
    }

    img {
        min-height: 100vh;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .a-propos-texte {
        min-height: 100vh;
    }
}


// form {
//     max-width: 420px;

// }

// .feedback-input {
//     color: black;
//     font-family: Helvetica, Arial, sans-serif;
//     font-weight: 500;
//     font-size: 18px;
//     border-radius: 5px;
//     line-height: 22px;
//     background-color: transparent;
//     border: 2px solid;
//     transition: all 0.3s;
//     padding: 13px;
//     margin-bottom: 15px;
//     width: 100%;
//     box-sizing: border-box;
//     outline: 0;
// }

// .feedback-input:focus {
//     border: 2px solid;
// }

// textarea {
//     height: 150px;
//     line-height: 150%;
//     resize: vertical;
// }

// [type="submit"] {
//     font-family: 'Montserrat', Arial, Helvetica, sans-serif;
//     width: 100%;
//     border-radius: 5px;
//     border: 0;
//     cursor: pointer;
//     color: white;
//     font-size: 24px;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     transition: all 0.3s;
//     margin-top: -4px;
//     font-weight: 700;
// }

// [type="submit"]:hover {
//     background-color: #f0ac4e83 !important;
// }

@media (min-height: 720px) {
    .contact-text {
        width: 25% !important;
    }
}

#contact {
    background-color: white;
    height: 200px;

    a {
        text-decoration: none;
        color: black;

        &:hover {
            color: rgb(73, 73, 73)
        }
    }

    img {
        width: 50px;
    }

    div {
        width: 270px;
    }
}