body {
    color: #404699;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: rgb(183, 223, 255);
    background: linear-gradient(90deg, rgba(183, 223, 255, 1) 0%, rgba(224, 185, 255, 1) 50%, rgba(255, 180, 180, 1) 100%);
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

button:hover {
    background-color: #404699;
    color: white;

}

h1 {
    padding: 10px;
    border: solid 3px #404699;
}

#choix {
    display: flex;
    flex-direction: column;
}

button {
    color: #404699;
    padding: 10px;
    margin: 20px;
    border: solid 3px #404699;
    background-color: #297fb900;
    text-transform: uppercase;
    font-weight: bold;

}

#chrono {
    display: none;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#coups {
    text-align: center;
}

@media only screen and (max-width: 900px) {
    #chrono {
        flex-direction: column;
    }
}

#message {
    display: none;
    justify-content: center;
    align-items: center;
}

#grille {
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 22% 22% 22% 22%;
    grid-gap: 10px;
    height: 90vh;
    width: 50%;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flip-card {
    background-color: transparent;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-inner.is-flipped {
    transform: rotateY(180deg);
}

.flip-card-inner.unflipped {
    transform: rotateY(-180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #404699;
    color: black;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}